body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

header {
    color: rgb(255, 255, 255);
    padding: 25px;
    text-align:auto;
    font-size: 30px;
    background-color:rgb(46, 42, 42);
    display: flex;
    justify-content:space-around;
}

article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: lightblue;
    height: 700px;

}


section::after {
    content: "";
    display: table;
    clear: both;
    height: 200px;
}

footer {
    background-color:rgb(46, 42, 42);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 10px;
}

@media (max-width: 600px) {

article {
      width: 100%;
      height: auto;
}
}
form {
    margin: 0% auto;
    width: 550px;
}

table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 100%;
}
caption {
    text-align: center;
    border: 2.5px solid #000000;
    padding: 15px;
}
td,th {
    border: 2.5px solid #000000;
    text-align: left;
    padding: 15px;
}
.titulo{
    display: flex;
    justify-content:center;
    color: darkslategray;
    font-size: 25px;

}
.fotos{
    width: 350px;
    height: 200px;
    position: absolute;
    left: 300px;
    top:250px;
}
.fotos2{
    width: 350px;
    height: 200px;
    position: absolute;
    left: 1100px;
    top:250px;
}
.texto1{
    width: 350px;
    height: 200px;
    position: absolute;
    left: 260px;
    top:425px;
    text-align: center;
}
.texto2{
    width: 450px;
    height: 200px;
    position: absolute;
    left: 1010px;
    top:425px;
    text-align: center;
}
.promo{
    color: #000;
    width: 450px;
    height: 200px;
    position: absolute;
    left: 240px;
    top:550px;

}
.div-tabla{
    color: #000;
    width: 450px;
    height: 200px;
    position: absolute;
    left: 650px;
    top:1000px;
}
.tabla{
    border: 1px solid #000;
    width: 100%;
    background-color: rgb(42, 173, 173);
}